@using Calc_ToDo_Api.Data
@inject db_connection db_connection

@if (showModal)
{
    <div class="modal" tabindex="-1" style="display:block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Добавление агента</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" @onclick="CloseModal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <label for="name">Name:</label>
                    <input type="text" @bind="newAgent"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" @onclick="SubmitName">Сохранить изменения</button>
                </div>
            </div>
        </div>
    </div>
}

@if (showSumModal)
{
    <div class="modal" tabindex="-1" style="display:block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Добавление агента</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" @onclick="CloseSelectAgentModal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <select @bind="_select">
                        Agent:
                        @foreach (var a in AgentsLists)
                        {
                            <option>@a.Name</option>
                        }
                    </select>
                    <input type="text" @bind="sum" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" @onclick="SumbitSumAg">Сохранить изменения</button>
                </div>
            </div>
        </div>
    </div>
}


<button type="button" @onclick="OpenModal">Add agent</button>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody>
        @foreach (var s in AgentsLists)
        {
            <tr>
                <th scope="row">@(AgentsLists.IndexOf(s) + 1)</th>
                <td>@s.Name</td>
            </tr>
        }
</tbody>
</table>

<button type="button" @onclick="OpenSumModal">Add</button>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Sum</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var s in SumAgentsLists)
        {
            <tr>
                <th scope="row">@(SumAgentsLists.IndexOf(s) + 1)</th>
                <td>@s.Name</td>
                <td style="color: @(s.Sum > 0 ? "green" : "red")">@s.Sum</td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter] public List<Agent> AgentsLists { get; set; } = new();
    [Parameter] public List<SumAgent> SumAgentsLists { get; set; } = new();

    private bool showModal = false;
    private bool showSumModal = false;

    string _select;
    string newAgent;
    int sum;

    private Agent selectedAgent;

    private void OpenModal()
    {
        showModal = true;
    }

    private void OpenSumModal()
    {
        showSumModal = true;
    }

    private void CloseModal()
    {
        showModal = false;
    }

    private void CloseSelectAgentModal()
    {
        showSumModal = false;
    }

    private void SumbitSumAg()
    {
        if(sum > 0 || sum < 0)
        {
            db_connection.sumagents.Add(new SumAgent(_select, sum));
            CloseSelectAgentModal();
            newAgent = "";
            sum = 0;
        }
    }

    private void SubmitName()
    {
        if (!string.IsNullOrWhiteSpace(newAgent))
        {
            db_connection.agents.Add(new Agent(newAgent));
            CloseModal();
            newAgent = "";
        }
    }
}
